.product
{
    display: flex;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
}
.product-name{
    color: blue;
    font-weight: 400;
}
.main-button
{
    background-color: goldenrod;
    border: 1px solid darkgray;
    width: 150px;
    height: 30px;
    border-radius: 2px;
    cursor: pointer;
}
